snippet sp "snippet" b
snippet $1 "$2" $3
$4
$5endsnippet
endsnippet

snippet line "A line used to separate segments of code" b
#-------------------------------------------------------------------------------#
endsnippet
